html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#app {
  z-index: 0;
  height: 100%;
}


.plane {
  /*filter: invert(69%) sepia(65%) saturate(5567%) hue-rotate(159deg) brightness(91%) contrast(102%);*/
}